.about {
  flex-direction: column;
  margin-top: 5em;
}
.about__name {
  color: var(--clr-primary);
}
.about > :nth-child(2) {
  margin-top: 1.2em;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--clr-fg-alt);
}

.about__desc {
  font-size: 1rem;
  max-width: 70%;
  text-align: center;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media all and (max-width: 1022px) and (min-width: 800px) {
  .nameTitle {
    align-content: center;
  }

  .app .about {
    align-items: flex-start;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
  }

  .about> :nth-child(2) {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .nameTitle {
    align-content: center;
    margin: auto;
    padding: 25px;
  }
}
