.header {
  height: 5em;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
}

@media (min-width:381px) and (max-width: 600px) {
  .header {
    height: 6em;
  }
}


